<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Blogs | @ViewData["Title"]></title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
    <nav>
        <div class="site-title">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><h1>BlogNinja</h1></a>
            <p>A Net Ninja Site</p>
        </div>
        <ul>
           @*  <%if(user){%>
            <li>Welcome,  <%=user.email%></li>
            <li><a href="/logout" class="btn">Logout</a></li>
            <%}else{%>
            <li><a href="/login" class="btn">Login</a></li>
            <li><a href="/signup">Sign up</a></li>
            <%}%> *@
            <li><a asp-controller="Home" asp-action="About">About</a></li>
            <li><a asp-controller="Blogs" asp-action="Create">New Blog</a></li>
            <li><a asp-controller="Authentication" asp-action="Login">Login</a></li>
            <li><a asp-controller="Authentication" asp-action="Register">Register</a></li>
        </ul>
    </nav>
    <main>
            @RenderBody()
    </main>
    <footer>
        Copyright &copy; Phan_Nguyễn_2022
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
