@model Author
@{
    ViewData["Title"] = "Login";
}

<header>
    <div class="headings">
        <h2>Login</h2>
    </div>
    <div class="login">
        <div class="login-form">
            <form action="Post">
                <label asp-for="UserName">User Name</label>
                <input type="text" autocomplete="off" asp-for="UserName" required>
                <label asp-for="Password">Password</label>
                <input type="password" asp-for="Password" required>
                <button>Login</button>
            </form>
            <div class="register">
                <a href="/sendmail">Forgot Password?</a>
                <a asp-controller="Authentication" asp-action="Register">Register</a>
            </div>
        </div>
    </div>
</header>
