@model Author
@{
    ViewData["Title"] = "Register";
}

<header>
    <div class="headings">
        <h2>Sign Up</h2>
    </div>
    <form method="POST">
        <label asp-for="UserName">User Name</label>
        <input type="text" autocomplete="off" asp-for="UserName" required>
        <label asp-for="Name">Name</label>
        <input type="text" autocomplete="off" asp-for="Name" required>
        <label asp-for="Password">Password</label>
        <input type="password" asp-for="Password" required>
        <div class="password error"></div>
        <button> Sign up</button>
    </form>
</header>

