
@{
    ViewData["Title"] = "Register";
}

<header>
    <div class="headings">
        <h2>Sign Up</h2>
    </div>
    <form>
        <label for="emails">Email</label>
        <input type="text" autocomplete="off" name="email" required>
        <div class="email error"></div>
        <label for="passwords">Password</label>
        <input type="password" name="password" required>
        <div class="password error"></div>
        <button> Sign up</button>
    </form>
</header>

